<div class="card-box">
  <div class="card-box__top">
    <img *ngIf="property?.photo" src="http://localhost:7232/{{ property?.photo }}" alt="Property image" />
    <img *ngIf="!property?.photo" src="./assets/images/default_house_image.png" alt="Default property image" />

    <span *ngIf="!hideIcons" class="heart-block" (click)="addToFavourite()" [class.press]="isFavourite">
      <i class="fas fa-heart heart" [class.press]="isFavourite"></i>
    </span>
    <a *ngIf="!hideIcons" routerLink="/property-detail/{{ property?.id }}">View property</a>
  </div>
  <div class="card-box__bottom">
    <h3><span class="card-box__mark">{{ property?.propertyType }}</span> In {{ property?.name }}<span
        *ngIf="property?.name">,</span> {{ property?.city }}
    </h3>
    <p>
      {{ property?.description | slice:0:100 }}...
    </p>
    <div class="advants">
      <div>
        <span>BHK</span>
        <div><i class="fas fa-th-large"></i><span>{{ property?.bhk }}</span></div>
      </div>
      <div>
        <span>Added date</span>
        <div><i class="fa-regular fa-calendar"></i><span>{{ property?.postedOn | date }}</span></div>
      </div>
      <div>
        <span>Area</span>
        <div>
          <i class="fas fa-vector-square"></i><span>{{ property?.builtArea }}<span>Sq Ft</span></span>
        </div>
      </div>
    </div>

    <div class="other-info">
      <div>
        <span>Author: <a [routerLink]="['/user/all-properties', createdUser?.username]"><span>{{ createdUser?.username
              }}</span></a></span>
      </div>
      <div>
        <span>Furnishing type: <span>{{ property?.furnishingType }}</span></span>
      </div>
      <div>
        <span *ngIf="property?.readyToMove">Possession: <span class="card-box__mark"> Ready to move</span></span>
        <span *ngIf="!property?.readyToMove">Possession: <span class="card-box__mark"> {{ property?.estPossessionOn |
            date }}</span></span>
      </div>
    </div>

    <div class="price">
      <span>For Sale</span>
      <span class="card-box__mark">${{ property?.price }}</span>
    </div>
  </div>
</div>
