<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input ngModel name="userName" type="text" required class="form-control">
          </div>

          <div class="input-group mb-3 password-block">
            <div class="password-block__inner input-group">
              <input ngModel required name="password" [type]="typePassword" class="form-control" placeholder="Password">
              <span (click)="onPasswordToggle()" class="input-group-text">
                <i [hidden]="!showPassword" class="fa-regular fa-eye" id="togglePassword"></i>
                <i [hidden]="showPassword" class="fa-regular fa-eye-slash" id="togglePassword"></i>
              </span>
            </div>
          </div>

          <div class="mb-3">
            <button [disabled]="!loginForm?.valid" class="btn btn-primary form__card-btn">Login</button>
            <button type="reset" class="btn btn-danger">Cancle</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
