<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input ngModel name="userName" type="text" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input ngModel name="password" type="password" required class="form-control">
          </div>
          <div class="mb-3">
            <button [disabled]="!loginForm?.valid" class="btn btn-primary form__card-btn">Login</button>
            <button class="btn btn-danger">Cancle</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
