html {
  min-height: 100%;
  position: relative;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
select:active,
select:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}
