<div class="list-options">
  <button (click)="openModal(filterPanel)" class="btn btn-primary">Open filters settings</button>
  <button (click)="onCityFilterClear()" type="button" class="btn btn-danger">
    <i class="fa-solid fa-bucket"></i>
  </button>

  <ng-template #filterPanel>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Filters settings</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">City name</label>
        <input [(ngModel)]="City" type="text" placeholder="City name" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">BHK count</label>
        <input [(ngModel)]="Bhk" type="text" placeholder="BHK count" class="form-control">
      </div>
      <label class="form-label">Min/Max Price</label>
      <div class="input-group mb-3">
        <input [(ngModel)]="MinP" type="text" class="form-control" placeholder="Min price">
        <span class="input-group-text">$</span>
        <input [(ngModel)]="MaxP" type="text" class="form-control" placeholder="Max price">
      </div>
      <label class="form-label">Min/Max Sq Ft</label>
      <div class="input-group mb-3">
        <input [(ngModel)]="MinA" type="text" class="form-control" placeholder="Min squaree feet">
        <span class="input-group-text">Sq Ft</span>
        <input [(ngModel)]="MaxA" type="text" class="form-control" placeholder="Max squaree feet">
      </div>

      <div class="mb-3">
        <label class="form-label">Change list size</label>
        <input (input)="onListSizeChange($event)" type="text" placeholder="List size" class="form-control">
      </div>
      <button (click)="onCityFilter()" class="btn btn-primary">Apply filters</button>
    </div>
  </ng-template>


  <select [(ngModel)]='SortbyParam' class="form-control">
    <option value="id">Default (Added date)</option>
    <option value="city">City</option>
    <option value="price">Price</option>
    <option value="bhk">BHK</option>
    <option value="builtArea">Built area</option>
    <option value="propertyType">Property type</option>
    <option value="furnishingType">Furnishing type</option>
  </select>
  <button type="button" class="btn btn-outline-secondary" (click)="onSortDirection()">
    <i *ngIf="SortDirection === 'asc'" class="fa-solid fa-sort-down"></i>
    <i *ngIf="SortDirection === 'desc'" class="fa-solid fa-sort-up"></i>
  </button>
</div>

<div class="row mt-4">
  <div *ngFor="let property of properties |
    filter: [SearchCity, +BhkCount, +MinimumPrice, +MaximumPrice, +MinimumArea, +MaximumArea]:
            ['city', 'bhk', 'price', 'builtArea'] |
    sort: [SortbyParam, SortDirection] |
    paginate: { currentPage: page, totalItems: count, itemsPerPage: pageSize }; let i = index"
    class="shadow-lg p-3 col-sm-4">
    <app-property-card [property]="property"></app-property-card>
  </div>
  <div class="list-pagination"  >
    <!-- <pagination-controls previousLabel="" nextLabel="" class="list-pagination__inner"
      (pageChange)="onListDataChange($event)"></pagination-controls> -->

    <pagination-template class="list-pagination__inner" #p="paginationApi"
    (pageChange)="onListDataChange($event)">
      <span class="pagination-previous" [class.disabled]="p.isFirstPage()">
        <a (click)="p.previous()"><i class="fa-solid fa-caret-left"></i></a>
      </span>

      <span *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" class="non-current">
          <span>{{ page.label }}</span>
        </a>
        <span *ngIf="p.getCurrent() === page.value">
          <span>{{ page.label }}</span>
        </span>
      </span>

      <span *ngIf="!p.isLastPage()" class="pagination-next" [class.disabled]="p.isLastPage()">
        <a (click)="p.next()"><i class="fa-solid fa-caret-right"></i></a>
      </span>
      <span *ngIf="p.isLastPage()" class="pagination-next disable-pag" [class.disabled]="p.isLastPage()">
        <a><i class="fa-solid fa-caret-right"></i></a>
      </span>
    </pagination-template>
  </div>
</div>
