<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Change password</div>
      <div class="card-body">
        <form *ngIf="changePasswordForm" (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Old password</label>
            <input type="password" class="form-control" formControlName="oldPassword">

            <span *ngIf="!oldPassword?.valid && (oldPassword?.touched || userSubmitted)" class="form-error-block">
              Please enter Old password field
            </span>
          </div>

          <div class="mb-3">
            <label for="newPassword" class="form-label">New password</label>
            <input type="password" class="form-control" formControlName="newPassword">

            <span *ngIf="!newPassword?.valid && (newPassword?.touched || userSubmitted)" class="form-error-block">
              <span *ngIf="newPassword?.hasError('required')">Please enter New password field</span>
              <span *ngIf="newPassword?.hasError('minlength')">New Password must be minimum 8 characters length</span>
            </span>
          </div>

          <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirm new password</label>
            <input type="password" class="form-control" formControlName="confirmNewPassword">

            <span *ngIf="!confirmNewPassword?.valid && (confirmNewPassword?.touched || userSubmitted)">
              <span *ngIf="confirmNewPassword?.hasError('required')" class="form-error-block">
                Please enter Confirm new password field
              </span>
            </span>
            <span *ngIf="passwordMathError" class="form-error-block">
              Password not matched
            </span>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary form__card-btn">Register</button>
            <button type="reset" class="btn btn-danger">Cancle</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
