<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="userName" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="userName">

            <span *ngIf="!userName?.valid && (userName?.touched || userSubmitted)" class="form-error-block">
              Please provide name
            </span>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">

            <span *ngIf="!email?.valid && (email?.touched || userSubmitted)" class="form-error-block">
              <span *ngIf="email?.hasError('required')">
                Please provide email
              </span>
              <span *ngIf="email?.hasError('email')">
                Please provide valid email
              </span>
            </span>
          </div>

          <div class="input-group mb-3 password-block">
            <div class="password-block__inner input-group">
              <input #passwordInput [type]="typePassword" class="form-control" formControlName="password" placeholder="Password">
              <span (click)="onPasswordToggle()" class="input-group-text">
                <i [hidden]="!showPassword" class="fa-regular fa-eye" id="togglePassword"></i>
                <i [hidden]="showPassword" class="fa-regular fa-eye-slash" id="togglePassword"></i>
              </span>
              <span class="input-group-text" (click)="generateRandomPassword()">
                <i class="fa-solid fa-shuffle"></i>
              </span>
            </div>
            <div>
              <span *ngIf="!password?.valid && (password?.touched || userSubmitted)" class="form-error-block">
                <span *ngIf="password?.errors?.['required']">Please provide password</span>
                <span *ngIf="password?.errors?.['minlength']">
                  Password should not be lesser than 8 characters
                </span>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <input [type]="typePassword" class="form-control" formControlName="confirmPassword"
              placeholder="Confirm password">
            <span *ngIf="!confirmPassword?.valid && (confirmPassword?.touched || userSubmitted)"
              class="form-error-block">
              <span *ngIf="confirmPassword?.hasError('required')">Please confirm password</span>
            </span>
            <span *ngIf="passwordMathError" class="form-error-block">
              Password not matched
            </span>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary form__card-btn">Register</button>
            <button type="reset" class="btn btn-danger">Cancle</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
