a {
  cursor: pointer;
}

.dropdown-header .dropdown-toggle {
  margin-right: 120px;
  text-decoration: none;
  color: #333;
}

.dropdown-header .dropdown-menu i {
  margin-right: 10px;
}

.dropdown-logout-item {
  cursor: pointer;
}
